body{

    overflow: hidden;
    background-color: burlywood;
        margin: 0px 0px;
        padding: 0px 0px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #444;
        
        
        
}
div.jumbotron{
    background-color: cadetblue;
}

