{%extends"base.html"%} {%import "macros.html" as macro%} {%block title%} News
Sources {%endblock%} {%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12" style = overflow-x:hidden;>
      <div class="panel panel-default">
        
        {{macro.displayNewsSources(sources)}} 
        {%endblock%}
      </div> 
    </div>
  </div>
</div>
{%block styles%}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"/>

{%endblock%}
