{% macro displayNewsSources(news_sources) %}

    {% for news in news_sources %}
        <ul>
            <li>{{ news.name}}</li>
        </ul>

        <div class="container">
          <div class="jumbotron">
            <div class="card">
                <div class="row">
                    <h1>Article</h1>
                    <hr>
        
                    <h2>News Article</h2>
                    <a class="btn btn-danger text-center" href="/news/{{news.id}}">News Article</a>
                
                    <div class="col-md-4">
                        <ul>
                            <li class="text-center">{{news.name|truncate(10)}}</li>
                        </ul>
                    <!-- </div> -->
                </div>
            {% endfor %}
        
        {% endmacro %}
        
        {%macro displayingarticle(article_list)%}
            {%for article in article_list%}
                <div class="col-md-4 article-card">
                    <h2>{{article.name}}</h2>
                    <p>{{article.article|truncate(10)}}</p>
            </div>
            </div>
        </div>
          </div>
    {% endfor %}
{% endmacro %}
